<div class="post-date text-center">
  <span>
    {{ date | date:'%b %d, %Y' }}
    {% if updated %}
     • 
    Updated {{ updated | date:'%b %d, %Y' }}
  {% endif %}
  </span>
  {% if tags %}
     • 
    {% for tag in tags %}
      <span>
        <a href="/blog/tag/{{ tag | downcase }}/">{{ tag }}</a>{% if forloop.index != forloop.length %}, {% endif %}
      </span>
    {% endfor %}
  {% endif %}
</div>