<div class="post-date text-center">
  <span>
    {{ date-tags.date | date:'%b %d, %Y' }}
  </span>
  {% if date-tags.tags %}
     • 
    {% for tag in date-tags.tags %}
      <span>
        <a href="/blog/tag/{{ tag | downcase }}/">{{ tag }}</a>{% if forloop.index != forloop.length %}, {% endif %}
      </span>
    {% endfor %}
  {% endif %}
</div>