<article>
  {% assign post = post-short %}
  <header class="post-header">
    <h2 class="post-title"><a class="black-link" href="{{ post.slug }}/">{{ post.title }}</a></h2>
    {% assign tags = post.tags %}
    {% assign date = post.date %}
    {% include "blog/date-tags" %}
  </header>
  
  <section class="post-content">
    {% capture more %}... {% endcapture %}
    <p>{{ post.body | strip_html | truncatewords:50,more }}</p>
    <p><a href="{{ post.slug }}/" class="post-more btn btn-default">Read more &rarr;</a></p>
  </section>
  <hr class="post-ruler">
</article>