{% capture sidebarelements -%}
{% for sidebar in model.sidebars -%}
  {%- for item in sidebar.body -%}
    {%- if item.paging -%}
      {%- assign containspaging = true -%}
      {%- if item.active %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ item.link }}" data-toggle="tooltip" title="{{ item.text }}">{{ item.paging }}</a>
      </li>
    {%- endif -%}
  {% endfor -%}
{% endfor -%}
{% endcapture -%}
{% if containspaging %}
  <hr>
  <div class="hidden-xs hidden-sm">
    <div class="article-paging">
      <ul class="pagination">
        {{ sidebarelements }}
      </ul>
    </div>
  </div>
{% endif %}