<div class="panel panel-default sidebar">
  <div class="panel-heading">
    <h4 class="panel-title">{{ sidebar.header }}</h4>  
  </div>

  <div class="list-group">
    {%- for item in sidebar.body -%}
      <a href="{{ item.link }}" class="list-group-item{% if item.active %} active{% endif %}">
        {% if item.icon-css %}<i class="{{ item.icon-css }}"></i>{% endif %}
        {{ item.text }}
      </a>
    {%- endfor -%}
  </div>
</div>