{%- for sidebar in model.sidebars -%}
<div class="btn-group sidebar-dropdown">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ sidebar.header }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {%- for item in sidebar.body -%}
      <li class="{% if item.active %} active{% endif %}"><a href="{{ item.link }}">
        {%- if item.icon-css %}<i class="{{ item.icon-css }}"></i>{% endif -%}
        {{ item.text }}</a></li>
    {%- endfor -%}
  </ul>
</div>
{%- endfor -%}