<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ model.title }} - {{ global.title }}{% endblock %}</title>
    {% include "html-head-end" %}
  </head>
  <body {% include "prettify-onload" %}>
    {% include "header" %}
    
    <div class="container article-container">
      {% include "navigation" %}
      
      <div class="row" class="article-row">
        <div class="col-md-9 col-md-push-3">
          {%- if model.github -%}
          <div class="github-edit">
            <a href="{{ model.github }}">Edit on GitHub</a>
          </div>
          {%- endif -%}
        
          <header class="article-header">
            <h1 class="article-title">{{ model.title }}</h1>
            {% include "article/date" %}
          </header>

          <section class="article-content">
            {% block content %}{% endblock %}
          </section>
          
          {% include "article/paging" %}
        </div>
        
        {%- if model.sidebars -%}
        <div class="col-md-3 col-md-pull-9">
          {% include "article/sidebar" with model.sidebars %}
        </div>
        {%- endif -%}
      </div>
      
      {% if model.comments %}
      <div class="row">
        <div class="col-md-offset-3 col-md-9">
          <h1>Comments</h1>
          <div id="disqus_thread"></div>
        </div>
      </div>
      {% endif %}
    </div>
    
    {% include "footer" %}
    
    {% include "html-body-end" %}
  </body>
</html>