<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ model.title }} - {{ global.title }}</title>
    {% include "html-head-end" %}
  </head>
  <body {% include "prettify-onload" %}>
    {% include "header" %}
    
    <div class="container article-container">
      {% include "navigation" %}
      
      {%- if model.github -%}
      <div class="row">
        <div class="col-md-12">
          <div class="github-edit">
            <a href="{{ model.github }}">Edit on GitHub</a>
          </div>
        </div>
      </div>
      {%- endif -%}
      
      <article class="row">
        {%- if model.sidebars -%}
        <aside class="col-md-3">
          <div class="visible-md visible-lg">
          {% include "article/sidebars" %}
          </div>
        </aside>
        <div class="col-md-9">
        {%- else -%}
        <div class="col-md-offset-1 col-md-10">
        {%- endif -%}
          <header class="article-header">
            <h1 class="article-title">{{ model.title }}</h1>
            {% include "article/date" %}
          </header>
          
          {%- if model.sidebars -%}
          <div class="visible-xs visible-sm">
            <aside>
              {% include "article/sidebars-dropdown" %}
            </aside>
          </div>
          {%- endif -%}
          
          <section class="article-content">
            {% block content %}{% endblock %}
          </section>
          
          <hr>
          {% include "article/paging" %}
        </div>
        
      </article>
      
      {% if model.comments %}
      <section class="row">
        <div class="col-md-offset-3 col-md-9">
          <h1>Comments</h1>
          <div id="disqus_thread"></div>
        </div>
      </section>
      {% endif %}
    </div>
    
    {% include "footer" %}
    
    {% include "html-body-end" %}
  </body>
</html>