<!doctype html>
<html lang="en">
  <head>
    <link rel="alternate" type="application/rss+xml" href="/rss" title="RSS Feed">
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}{{ model.title }} - {{ global.title }}{% endblock %}</title>
    {% include "html-head-end" %}
  </head>
  <body>
    {% include "header" %}

    <!-- Allow child pages to override container css class. -->
    <div class="container {% block container_class %}layout-container{% endblock %}">
      {% block navigation %}{% include "navigation" %}{% endblock %}

      <!-- Content block, child page inject content -->
      {% block content %}{% endblock %}
    </div>
      
    {% include "footer" %}
  
    {% include "html-body-end" %}
  </body>
</html>