<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ model.title }} - {{ global.title }}{% endblock %}</title>
    {% block head_end %}{% include "html-head-end" %}{% endblock %}
  </head>
  <body>
    {% include "header" %}

    {% block content %}{% endblock %}
      
    {% include "footer" %}
  
    {% include "html-body-end" %}
  </body>
</html>