#content {
  position: static;
}

/* --------------------------------------------------------------------------
 * General styles
 * ------------------------------------------------------------------------*/
h2 {
  clear: both; 
}

/* Reset the img box for blog. */
article img {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  margin-bottom: 0;
}
 
.example-container {
  width: 306px;
  padding: 0;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
}
 
.example-box {
  padding: 0;
  margin: 0;
}

.example-box li, .example-box div {
  list-style: none;
  border: 1px solid #CCC;
  background: #F6F6F6;
  color: #1C94C4;
  margin: 5px;
  padding: 5px;
}

.example-box li {
  line-height: 22px;
}

.example-box li.higher {
  height: 80px;  
}

.example-box li.disabled {
  opacity: 0.5;
}

.example-box li.other {
  background: #FEE25F;
}

.example-box.grid {
  padding: 0; 
  overflow: hidden;  
}

.example-box.grid li {
  line-height: 80px;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
}

.example-box.grid li.wider {
  width: 182px;  
}

.example-box.grid li.higher {
  height: 182px;  
}

.example-box textarea, .example-box button, .example-box input {
  display: block;
  margin: 5px;
  width: 270px;
}

/* Example Code Tabs */
.example-code {
  margin-top: 40px; 
}

.example-code .menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.example-code .menu li {
  display: inline;
  float: left;
  margin-bottom: 3px;
}

.example-code .menu li a { 
  padding: 5px 10px 5px 10px;
  background: #aaa; 
  text-decoration: none; 
  color: #333;
  overflow: hidden;
}
  
.example-code .menu li a:hover { 
  background-color: #ccc;
}

.example-code .menu li a.active { 
  background: #002b36;
  color: #93a1a1;
}

.example-code .content { 
  clear: both;
  float: left;
  margin-bottom: 80px;
}

.example-code .content > div {
  display: none;
  color: #93a1a1;
}

.example-code .content div.active {
  display: block;
}

.example-code .content code {
  font-family: monospace;
  white-space: pre;
}

.example-code .content figure {
  margin: 0;
}

/* --------------------------------------------------------------------------
 * Section: draggable-dropzone 
 * ------------------------------------------------------------------------*/
#draggable-dropzone .trash {
  background: url(trash.png) top left no-repeat;
  height: 128px;
  width: 128px;
  margin-top: 60px;
  float: right;
  opacity: 0.7;
}

#draggable-dropzone .trash.full {
  background: url(trash.png) top right no-repeat;
}

#draggable-dropzone .document {
  margin: 10px 0 0 5px;
  display: block;
  cursor: move;
}

#draggable-dropzone .dnd-over {
  opacity: 1;
}

#draggable-dropzone .dnd-dragging {
  opacity: 0.5;
}


/* --------------------------------------------------------------------------
 * Section: dragging-divs
 * ------------------------------------------------------------------------*/
#dragging-divs .dnd-dragging {
  opacity: 0.5;
}

#dragging-divs .dragme {
  width: 64px;
  height: 64px;
  margin: 5px auto 0 auto;
  padding: 5px;
  border: 1px solid #aaa;
  background: #acf;
  float: left;
  cursor: move;
}

#dragging-divs .dropzone {
  width: 100px;
  height: 64px;
  margin: 5px;
  padding: 5px;
  border: 1px solid #aaa;
  background: #ccc;
  float: right;
}

#dragging-divs .dnd-over {
  background: #d387ca;
}


/* --------------------------------------------------------------------------
 * Section: drop-effects
 * ------------------------------------------------------------------------*/
#drop-effects .trash {
  background: url(trash.png) top left no-repeat;
  height: 128px;
  width: 128px;
  margin-top: 60px;
  float: right;
  opacity: 0.7;
}

#drop-effects .trash.full {
  background: url(trash.png) top right no-repeat;
}

#drop-effects .dragme {
  background: url(document.png) no-repeat;
  margin: 10px 0 0 5px;
  height: 60px;
  width: 46px;
  line-height: 100px;  
  text-align: center;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  cursor: move;
}

#drop-effects .dnd-over {
  opacity: 1;
}

#drop-effects .dnd-dragging {
  opacity: 0.5;
}


/* --------------------------------------------------------------------------
 * Section: drag-images
 * ------------------------------------------------------------------------*/
#drag-images .dnd-dragging {
  opacity: 0.5;
}

#drag-images .dragme {
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #aaa;
  background: #acf;
  cursor: move;
}

#drag-images .dropzone {
  width: 64px;
  height: 64px;
  padding: 5px;
  margin-top: 100px;
  border: 1px solid #aaa;
  background: #ccc;
  float: right;
}

#drag-images .dnd-over {
  background: #d387ca;
}


/* --------------------------------------------------------------------------
 * Section: nested-elements
 * ------------------------------------------------------------------------*/
#nested-elements .dnd-dragging {
  opacity: 0.5;
}

#nested-elements .dragme {
  width: 64px;
  height: 64px;
  margin: 5px auto 30px auto;
  padding: 5px;
  border: 1px solid #aaa;
  background: #acf;
  cursor: move;
}

/* --------------------------------------------------------------------------
 * Section: sortable-list
 * ------------------------------------------------------------------------*/
#sortable-list .dnd-placeholder {
  border: 1px dashed #CCC;
  background: none;  
}

#sortable-list li {
  cursor: move;
}
 
/* --------------------------------------------------------------------------
 * Section: sortable-grid
 * ------------------------------------------------------------------------*/
#sortable-grid .dnd-placeholder {
  border: 1px dashed #CCC;
  background: none;  
}

#sortable-grid li {
  cursor: move;
}
 
/* --------------------------------------------------------------------------
 * Section: sortable-list-handles
 * ------------------------------------------------------------------------*/
#sortable-list-handles .dnd-placeholder {
  border: 1px dashed #CCC;
  background: none;  
}

#sortable-list-handles span {
  cursor: move;
}

/* --------------------------------------------------------------------------
 * Section: cancel-drag
 * ------------------------------------------------------------------------*/
#cancel-drag .dnd-dragging {
  opacity: 0.5;
}

#cancel-drag .dragme {
  padding: 5px;
  border: 1px solid #aaa;
  background: #acf;
  cursor: move;
}

#cancel-drag .dragme * {
  cursor: default;
}
 
/* --------------------------------------------------------------------------
 * Section: sortable-two-groups
 * ------------------------------------------------------------------------*/
#sortable-two-groups .dnd-placeholder {
  border: 1px dashed #CCC;
  background: none;  
}

#sortable-two-groups .dnd-dragging {
  opacity: 0.5;
}

#sortable-two-groups li {
  cursor: move;
}

#sortable-two-groups .group1 {
  float: left;
  width: 150px;
}

#sortable-two-groups .group2 {
  float: right;
  width: 150px;
}

























































































































































































































































































































































































