  <!-- GreenfootKara Just a test -->
  
  <div class="panel panel-default panel-collapsible">
    <div class="panel-heading" data-toggle="collapse" data-target="#greenfootkara-collapse">
      <h4 class="panel-title">GreenfootKara</h4>
    </div>
    <div class="panel-body" data-toggle="collapse" data-target="#greenfootkara-collapse">
        <img src="{{ "greenfootkara-logo-large.png" | asset_url }}" class="img-rounded">
      <p>
        GreenfootKara is a visual and interactive introduction to programming based on the Greenfoot IDE. This resource contains an entire beginners course of 16-20 lessons.
  </p>
    </div>

    <ul id="greenfootkara-collapse" class="list-group collapse">
      <a href="http://www.swisseduc.ch/informatik/karatojava/greenfootkara/greenfootkara-english.html" class="list-group-item">GreenfootKara Downloads (English) </a>
      <a href="http://www.swisseduc.ch/informatik/karatojava/greenfootkara/index.html" class="list-group-item">GreenfootKara Downloads (German) </a>
      <a href="https://github.com/marcojakob/greenfoot-kara" class="list-group-item">GreenfootKara Source on GitHub</a>
    </ul>
    <div class="panel-footer" data-toggle="collapse" data-target="#greenfootkara-collapse">
      <span class="panel-show"><i class="fa fa-chevron-down"></i> Show Downloads</span>
      <span class="panel-hide"><i class="fa fa-chevron-up"></i> Hide Downloads</span>
    </div>
  </div>