<footer class="site-footer container-fluid">
  <p>
    Thanks for reading.<br />
    Subscribe to the <a href="/rss">RSS feed</a> or receive updates by <a href="https://tinyletter.com/code-makery">Email</a>.
  <form class="form-inline" action="https://tinyletter.com/code-makery" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/code-makery', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div class="form-group">
      <input type="text" class="form-control" name="email" id="tlemail" placeholder="Enter email" />
      <input type="hidden" value="1" name="embed"/>
      <input type="submit" class="form-control btn-primary" value="Get updates" />
    </div>
  </form>
  </p>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <small>
          Created by <a href="/about">Marco Jakob</a> • Licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>
        </small>
      </div>
    </div>
  </div>
</footer>
