<footer class="site-footer container-fluid">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <p>
        <a class="btn btn-sm btn-social-icon btn-twitter" href="https://twitter.com/{{ global.twitter }}" data-toggle="tooltip" data-placement="top" title="Follow me on Twitter">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-sm btn-social-icon btn-googleplus" href="https://plus.google.com/{{ global.googleplus }}" data-toggle="tooltip" data-placement="top" title="Follow me on Google+">
          <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-sm btn-social-icon btn-rss" href="/rss" data-toggle="tooltip" data-placement="top" title="Subscribe to RSS Feed">
          <i class="fa fa-rss"></i>
        </a>
        <a class="btn btn-sm btn-social-icon btn-mail" href="https://tinyletter.com/codemakery" data-toggle="tooltip" data-placement="top" title="Receive Email Updates">
          <i class="fa fa-envelope" style="margin-top: -1px;"></i>
        </a>
      </p>
      <p>
        Subscribe to receive updates by <a href="https://tinyletter.com/codemakery">Email</a>.
      </p>
      
      <form class="form-inline" action="https://tinyletter.com/codemakery" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/codemakery', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="form-group">
          <input type="text" class="form-control" name="email" id="tlemail" placeholder="Enter email" />
          <input type="hidden" value="1" name="embed"/>
          <input type="submit" class="form-control btn-primary" value="Get updates" />
        </div>
      </form>
      
      <p>
        <small>
          Created by <a href="/about">Marco Jakob</a> • Licensed under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>
        </small>
      </p>
    </div>
  </div>
</footer>
