<header class="site-header container">
  <h1 class="site-title">
    <a href="/"><span class="main-text">code</span>.makery</a>
  </h1>
  <div class="site-intro">
    <p>{{ global.intro }}</p>
  </div>
  
  <div class="ribbon">
    <a href="https://tinyletter.com/codemakery" title="Get Updates">Subscribe to <i class="fa fa-envelope-o"></i> Updates </a>
  </div>
</header>