<header class="site-header container">
  <h1 class="site-title">
    <a href="/"><span class="green-text">code</span>.makery</a>
  </h1>
  <div class="site-intro">
    <p>{{ global.intro }}</p>
  </div>
  
  <div class="ribbon">
    <a href="/blog/moving-to-code-makery-ch" title="Read more &rarr;">Moved from edu.makery.ch</a>
  </div>
</header>