<header class="site-header container">
  <h1 class="site-title">
    <a href="/"><span class="green-text">code</span>.makery</a>
  </h1>
  <div class="site-intro">
    <p>{{ global.intro }}</p>
  </div>
</header>