<nav class="site-navigation">
  <ul>
    <li><a class="black-link" href="/">Home</a></li>
    <li><a class="green-link" href="/dart/">Dart</a></li>
    <li><a class="green-link" href="/java/">Java</a></li>
    <li><a class="black-link" href="/blog/">Blog</a></li>
    <li><a class="black-link" href="/about/">About</a></li>
  </ul>
</nav>