<nav class="site-navigation">
  <ul>
    <li><a class="{% if mixture.url == "index" %}main-link{% else %}black-link{% endif %}" href="/">Home</a></li>
    <li><a class="{% if mixture.url == "library" %}main-link{% else %}black-link{% endif %}" href="/library/">Library</a></li>
    <li><a class="{% if mixture.url == "paths" %}main-link{% else %}black-link{% endif %}" href="/paths/">Paths</a></li>
    <li><a class="{% if mixture.url == "blog" %}main-link{% else %}black-link{% endif %}" href="/blog/">Blog</a></li>
    <li><a class="{% if mixture.url == "about" %}main-link{% else %}black-link{% endif %}" href="/about/">About</a></li>
  </ul>
</nav>