{% assign url_start = mixture.url | split: '/' | first %}
<nav class="site-navigation">
  <ul>
    <li><a class="{% if url_start == "index" %}main-link{% else %}black-link{% endif %}" href="/">Home</a></li>
    <li><a class="{% if url_start == "library" %}main-link{% else %}black-link{% endif %}" href="/library/">Library</a></li>
    <li><a class="{% if url_start == "paths" %}main-link{% else %}black-link{% endif %}" href="/paths/">Paths</a></li>
    <li><a class="{% if url_start == "blog" %}main-link{% else %}black-link{% endif %}" href="/blog/">Blog</a></li>
    <li><a class="{% if url_start == "about" %}main-link{% else %}black-link{% endif %}" href="/about/">About</a></li>
  </ul>
</nav>