{{ define "main" }}
<div class="container container-restricted">
  {{ partial "navigation.html" . }}

  <div class="row">
    <div class="text-center col-sm-offset-2 col-sm-8">
      <p>
        <img src="marco.jpg" class="img-thumbnail img-responsive">
      </p>
      <h2>Marco Jakob</h2>
      <p>
        I have a passion for education, business, programming, God and mushrooms. Most of the time I try to combine any of those subjects. 
      </p>
      <p>
        On this website I focus mostly on programming but with a strong relation to education. Some of the tutorials have been written for my students. 
      </p>
      <p>
        Which brings me to what I do for a living: I teach computer science and sometimes economics. Then I hope that some of my side-projects will take off and I can start my own business. 
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="text-center col-sm-offset-2 col-sm-8">
      <h3 id="support-me">How to Support Me</h3>
      <p>
        If you found my software and tutorials helpful and they saved you a lot of time and work, please consider supporting me via PayPal:
      </p>
      <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <!-- Identify your business so that you can collect the payments. -->
          <input type="hidden" name="business"
              value="marco@jakobservices.ch">
      
          <!-- Specify a Donate button. -->
          <input type="hidden" name="cmd" value="_donations">
      
          <!-- Specify details about the contribution -->
          <input type="hidden" name="item_name" value="code.makery.ch">
          <!-- <input type="hidden" name="item_number" value="Fall Cleanup Campaign"> -->
          <input type="hidden" name="currency_code" value="USD">
      
          <!-- Display the payment button. -->
          <input type="image" name="submit"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
          alt="Donate">
          <img alt="" width="1" height="1"
          src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
        </form>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-offset-2 col-sm-8">
      Your support will enable me to provide more free materials! 
    </div>
  </div>
      
  <div class="row">
    <div class="text-center col-sm-offset-2 col-sm-8">
      <h3 id="contact">Contact</h3>
      <p>
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/{{ .Site.Params.twitter }}">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-social-icon btn-mail" href="mailto:info@makery.ch" data-toggle="tooltip" data-placement="top" title="info@makery.ch">
          <i class="fa fa-envelope" style="margin-top: -1px;"></i>
        </a>
      </p>
      
      <a href="mailto:info@makery.ch" style="font-size: 30px;">
        info@makery.ch
      </a>
    </div>
  </div>
</div>
{{ end }}