<nav class="site-navigation">
  <ul>
    <li><a class="{{ if eq .RelPermalink .Site.LanguagePrefix }}main-link{{ else }}black-link{{ end }}" href="/">Home</a></li>
    <li><a class="{{ if hasPrefix .RelPermalink (print .Site.LanguagePrefix "/library/") }}main-link{{ else }}black-link{{ end }}" href="/library/">Library</a></li>
    <li><a class="{{ if hasPrefix .RelPermalink (print .Site.LanguagePrefix "/paths/") }}main-link{{ else }}black-link{{ end }}" href="/paths/">Paths</a></li>
    <li><a class="{{ if hasPrefix .RelPermalink (print .Site.LanguagePrefix "/blog/") }}main-link{{ else }}black-link{{ end }}" href="/blog/">Blog</a></li>
    <li><a class="{{ if hasPrefix .RelPermalink (print .Site.LanguagePrefix "/about/") }}main-link{{ else }}black-link{{ end }}" href="/about/">About</a></li>
  </ul>
</nav>