
{{ define "main" }}

<div class="container">
  <div class="row home-featured">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <a class="black-link" href="/library/">
        <div>
          <i class="fa fa-book fa-5x"></i>
        </div>
        <h2>HTML &amp; CSS Tutorial (NEUE VERSION)</h2>
      </a>
      <p>
        Die aktualisierte Version des HTML &amp; CSS Tutorials.
      </p>
      <p>
        <a class="btn btn-default" href="/de/library/html-css/">Zum Tutorial</a>
      </p>
    </div>

  </div>
</div>

{{ end }}
