//
// Custom variables
// ------------------------------------------------------------


//
// Font Bootstrap overwrites
// ---------------------------------
$font-family-sans-serif:  "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Museo Slab", Georgia, "Times New Roman", Times, serif !default;
$font-family-base:        $font-family-serif !default;

$font-size-base:          16px !default;
$line-height-base:        1.625 !default; // 26 / 16

$font-size-code-block:    14px !default;

$headings-font-family:    $font-family-sans-serif !default;
$headings-font-weight:    700 !default;


//
// Other Bootstrap Overwrites
// ---------------------------------
$pre-scrollable-max-height:  30em !default;


//
// Colors
// ---------------------------------
$main-color:              #8ba644 !default; // avocado-green

$topic-java:              #9c27b0 !default;
$topic-javafx:            #673ab7 !default;
$topic-dart:              #00bcd4 !default;
$topic-html-css:          #5677fc !default;

$panel-hover-border:      #adadad !default;
