/*
 * PT SANS
 */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

%ptsans {
    font-family: 'PT Sans';
    font-weight: 700;
}

/*
 * MUSEO SLAB
 */
@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/Museo_Slab_500-webfont.eot');
  src: url('../fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo_Slab_500-webfont.woff') format('woff'),
  url('../fonts/Museo_Slab_500-webfont.ttf') format('truetype'),
  url('../fonts/Museo_Slab_500-webfont.svg#museo_slab500') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/Museo_Slab_500italic-webfont.eot');
  src: url('../fonts/Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo_Slab_500italic-webfont.woff') format('woff'),
  url('../fonts/Museo_Slab_500italic-webfont.ttf') format('truetype'),
  url('../fonts/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/**
 * @license
 * MyFonts Webfont Build ID 2872352, 2014-08-27T06:57:40-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Museo Slab 700 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo-slab/700/
 * Copyright: Copyright (c) 2009 by Jos Buivenga. All rights reserved.
 * Licensed pageviews: 500,000
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2872352
 * 
 * © 2014 MyFonts Inc
*/
@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/Museo_Slab_700-webfont.eot');
  src: url('../fonts/Museo_Slab_700-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo_Slab_700-webfont.woff') format('woff'),
  url('../fonts/Museo_Slab_700-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
  
  
%museo {
    font-family: 'Museo Slab';
    font-weight: normal;
}

/*
 * FONT AWESOME
 */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css)