/*
 * PT SANS
 */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

%ptsans {
    font-family: 'PT Sans';
    font-weight: 700;
}

/*
 * MUSEO SLAB
 */
@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/Museo_Slab_500_2-webfont.eot');
  src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
  url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
  url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
  font-weight: 'normal';
  font-style: normal;
}

@font-face {
  font-family: 'Museo Slab';
  src: url('../fonts/Museo_Slab_500italic-webfont.eot');
  src: url('../fonts/Museo_Slab_500italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo_Slab_500italic-webfont.woff') format('woff'),
  url('../fonts/Museo_Slab_500italic-webfont.ttf') format('truetype'),
  url('../fonts/Museo_Slab_500italic-webfont.svg#MuseoSlab500Italic') format('svg');
  font-weight: 'normal-italic';
  font-style: italic;
}


%museo {
    font-family: 'Museo Slab';
    font-weight: normal;
}

/*
 * FONT AWESOME
 */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css)