{% layout "layout" %}

{% block title %}{{ global.title }}{% endblock %}
{% block head_end %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ global.domain }}/theme/css/style.min.css" rel="stylesheet" type="text/css" media="all" />
    {% include "analytics-js" %}
{% endblock %}


{% block content %} 
<article>
    <h1>Looks like you're Lost</h1>
    <p>The page you requested doesn't exist, I'll get you <a href="/">back on track</a>.</p>
</article>
{% endblock %}