{% layout "layout" %}

{% block title %}{{ global.title }}{% endblock %}

{% block content %} 
<article>
    <h1>Looks like you're Lost</h1>
    <p>The page you requested doesn't exist, I'll get you <a href="/">back on track</a>.</p>
</article>
{% endblock %}