{% layout "layout" %}

{% block title %}Dart - {{ global.title }}{% endblock %}

{% block content %} 
<article class="java-page">
  <h1 class="text-center">Dart</h1>
  <p>
    I plan to write more about how to learn <code>Dart</code> (hopefully soon). For now, have a look at my open source projects.
  </p>
  
  <h2 id="learn-java">Open Source Projects</h2>
  
  <!-- Dart Event Bus -->
  <a class="panel-link" href="/dart/event-bus">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Dart Event Bus</h4>
      </div>
      <div class="panel-body">
        <img src="/assets/dart/event-bus.png">
        <p>
          An Event Bus library for Dart for decoupling applications.
        </p>
      </div>
    </div>
  </a>
  
  <!-- Dart HTML5 Drag and Drop -->
  <a class="panel-link" href="/dart/html5-drag-and-drop">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Dart HTML5 Drag and Drop</h4>
      </div>
      <div class="panel-body">
        <img src="/assets/dart/dnd-example.png">
        <p>
          Dart library to simplify HTML5 Drag and Drop accross all modern browsers.
        </p>
      </div>
    </div>
  </a>
  
  <div class="row java-recent">
    <div class="col-sm-offset-2 col-sm-8 text-center">
    <h3><a class="gray-link" href="/blog/tag/dart/">Recent Dart Blog Posts</a></h3>
    {% collection "blog" by 5 query 'tags=dart' order desc %}
      {% if collection.size == 0 %}
        {% include "blog/no-posts" %}
      {% else %}
        {% assign currentpage = collection.current_page %}
        {% include "blog/post-recent" with collection.items %}
      {% endif %}
    {% endcollection %}
      <div class="text-center">
        <a href="/blog/tag/dart/">&mdash; All Dart Posts ({% collection "blog" query 'tags=dart' %}{{ collection.size }}{% endcollection %}) &mdash;</a>
      </div>
    </div>
  </div>
  
  
</article>
{% endblock %}