{% layout "layout" %}

{% block title %}Java - {{ global.title }}{% endblock %}

{% block content %}
<article class="java-page">
  <h1 class="text-center">Java</h1>
  <p>
    Here you will find resources that lead you <b>from the very first steps in program&shy;ming <a href="#learn-javafx"><code>Java</code></a> to creating complex graphical applications with <a href="#learn-javafx"> <code>JavaFX</code></a></b>.
  </p>

  
  <h2 id="learn-java">Learn Java</h2>
  
  <!-- GreenfootKara -->
  <a class="panel-link" href="/java/greenfoot-kara-intro">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-green pull-right">English</span>
        <span class="label label-primary pull-right">Deutsch</span>
        <h4 class="panel-title">GreenfootKara</h4>
      </div>
      <div class="panel-body">
        <img src="/assets/java/greenfoot-kara-logo-large.png" class="img-rounded">
        <p>
          GreenfootKara is a visual and interactive introduction to programming based on the <b>Greenfoot IDE</b>. This resource contains an entire beginners course of 16-20 lessons.
        </p>
      </div>
    </div>
  </a>
  
  <!-- GameGridKara -->
  <a class="panel-link" href="/java/gamegrid-kara-intro">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-green pull-right">English</span>
        <span class="label label-primary pull-right">Deutsch</span>
        <h4 class="panel-title">GameGridKara</h4>
      </div>
      <div class="panel-body">
        <img src="/assets/java/gamegrid-kara-logo-large.png" class="img-rounded">
        <p>
          GameGridKara is a combination of the mini-world Kara and the JGameGrid library to learn introductory programming. All scenarios can be used with <b>any IDE like Eclipse, Netbeans or BlueJ</b>. This resource contains an entire beginners course of 16-20 lessons.
        </p>
      </div>
    </div>
  </a>
  
  <hr>
  
  <h2 id="learn-javafx">Learn JavaFX</h2>
  
  <!-- JavaFX 2 Tutorial - AddressApp -->
  <a class="panel-link" href="/java/javafx-2-tutorial-intro">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="label label-green pull-right">English</span>
        <h4 class="panel-title">JavaFX 2 Tutorial - AddressApp</h4>
      </div>
      <div class="panel-body">
        <img src="/assets/java/addressapp.png" class="img-rounded">
        <p>
          Tutorial for learning <b>JavaFX from the ground up</b>. In this seven-part series you will learn how to use SceneBuilder, structure a JavaFX application with the MVC-pattern, validate user input, style with CSS, persist data with XML, create charts and more.
        </p>
      </div>
    </div>
  </a>
  
</article>
{% endblock %}