{% layout "layout" %}

{% block title %}Java - {{ global.title }}{% endblock %}

{% block content %}
<article class="java-page">
  <h1 class="text-center">Java</h1>
  <p>
    Here you will find resources that lead you <b>from the very first steps in program&shy;ming <a href="#learn-javafx"><code>Java</code></a> to creating complex graphical applications with <a href="#learn-javafx"> <code>JavaFX</code></a></b>.
  </p>

  <div class="row">
    <div class="col-sm-6" >
      <h2 id="learn-java">Java Basics</h2>

      <!-- GreenfootKara -->
      <a class="panel-link" href="/java/greenfoot-kara-intro/">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="label label-green pull-right">English</span>
            <span class="label label-primary pull-right">Deutsch</span>
            <h4 class="panel-title">GreenfootKara</h4>
          </div>
          <div class="panel-body">
            <img src="/assets/java/greenfoot-kara-logo-large.png" class="img-rounded">
            <p class="small">
              GreenfootKara is a vis&shy;u&shy;al and in&shy;ter&shy;ac&shy;tive in&shy;tro&shy;duc&shy;tion to pro&shy;gram&shy;ming based on the <b>Greenfoot IDE</b>. An en&shy;tire be&shy;gin&shy;ners course of 16-20 les&shy;sons.
            </p>
          </div>
        </div>
      </a>

      <!-- GameGridKara -->
      <a class="panel-link" href="/java/gamegrid-kara-intro/">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="label label-green pull-right">English</span>
            <span class="label label-primary pull-right">Deutsch</span>
            <h4 class="panel-title">GameGridKara</h4>
          </div>
          <div class="panel-body">
            <img src="/assets/java/gamegrid-kara-logo-large.png" class="img-rounded">
            <p class="small">
              GameGridKara is an in&shy;tro&shy;duc&shy;tion to pro&shy;gram&shy;ming with the mini-world Kara. All sce&shy;na&shy;rios can be used in <b>any IDE like Eclipse, Net&shy;beans or BlueJ</b>.
            </p>
          </div>
        </div>
      </a>
      
    </div>
  
    <div class="col-sm-6">
      <h2 id="learn-javafx">JavaFX</h2>

      <!-- JavaFX 8 Tutorial -->
      <a class="panel-link" href="/java/javafx-8-tutorial-intro/">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="label label-green pull-right">English</span>
            <h4 class="panel-title">JavaFX 8 Tutorial</h4>
          </div>
          <div class="panel-body">
            <img src="/assets/java/addressapp-javafx8.png" class="img-rounded">
            <p class="small">
              Seven-part tutorial se&shy;ries for learn&shy;ing JavaFX from the ground up. Uses the new Java 8 and JavaFX 8 fea&shy;tures.
            </p>
          </div>
        </div>
      </a>
      
      <!-- JavaFX 2 Tutorial -->
      <a class="panel-link" href="/java/javafx-2-tutorial-intro/">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="label label-green pull-right">English</span>
            <h4 class="panel-title">JavaFX 2 Tutorial</h4>
          </div>
          <div class="panel-body">
            <img src="/assets/java/addressapp.png" class="img-rounded">
            <p class="small">
              Seven-part tutorial series for learn&shy;ing JavaFX from the ground up.
            </p>
          </div>
        </div>
      </a>
      
    </div>
  </div>
  
  <div class="row java-recent">
    <div class="col-sm-offset-2 col-sm-8 text-center">
    <h3><a class="gray-link" href="/blog/tag/java/">Recent Java Blog Posts</a></h3>
    {% collection "blog" by 5 query 'tags=java' order desc %}
      {% if collection.size == 0 %}
        {% include "blog/no-posts" %}
      {% else %}
        {% assign currentpage = collection.current_page %}
        {% include "blog/post-recent" with collection.items %}
      {% endif %}
    {% endcollection %}
        <div class="text-center">
          <a href="/blog/tag/java/">&mdash; All Java Posts ({% collection "blog" query 'tags=java' %}{{ collection.size }}{% endcollection %}) &mdash;</a>
        </div>
        <div class="text-center">
          <a href="/blog/tag/javafx/">&mdash; All JavaFX Posts ({% collection "blog" query 'tags=javafx' %}{{ collection.size }}{% endcollection %}) &mdash;</a>
        </div>
    </div>
  </div>
  
</article>
{% endblock %}