{% layout "layout" %}

{% block title %}Paths - {{ global.title }}{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  <h2 class="text-center">Learning paths coming soon... <i class="fa fa-coffee"></i></h2>
</div>
{% endblock %}