{% layout "layout" %}

{% block title %}Java | Paths | {{ global.title }}{% endblock %}

{% block description %}Path for learning how to code Java and JavaFX applications.{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  <h2 class="text-center"><small>Path</small> Java Development</h2>
  
  <p class="text-center">Learn to code Java and JavaFX applications.</p>
  
  <h4>Getting started with Java Programming</h4>
  <p>In the <em>GreenfootKara</em> course you learn the basics of programming in Java. To make it simple for beginners, it uses Greenfoot as the development environment. After this course you may transition to a professional environment like Eclipse, NetBeans, or IntelliJ.</p>
  
  {%- include "paths/item" with global.library.greenfoot-kara %}

  <h4>User Interfaces with JavaFX</h4>
  <p>JavaFX is a very nice graphics platform. It is now the preferred and official choice for graphical user interfaces in Java. This tutorial takes you through designing and programming a complete Address Application.</p>
  
  {%- include "paths/item" with global.library.javafx-8-tutorial %}
  </div>
</div>

{%- assign js_dropdown = true -%}
{% endblock %}