{% layout "layout" %}

{% block title %}Web App | Paths | {{ global.title }}{% endblock %}

{% block description %}Path for learning how to code dynamic web applications using HTML, CSS, and Dart.{% endblock %}

{% block content %}
<div class="container container-restricted">
  {% include "navigation" %}
  <h2 class="text-center"><small>Path</small> Web App Development</h2>
  
  <p class="text-center">Learn to code dynamic web applications using HTML, CSS, and Dart.</p>
  
  <div class="alert alert-warning">
    <p>
      Some parts of the <em>Web App Development Path</em> are currently <strong>only available in German.
    </p>
    <p>
      </strong> Sign up for the <a href="https://tinyletter.com/codemakery" class="alert-link">newsletter</a> to be informed when the English version is ready.
    </p>
  </div>

  <h4>Getting started with HTML &amp; CSS</h4>
  <p>You will need a basic understanding of HTML and CSS to create Web Applications. The <em>HTML &amp; CSS Tutorial</em> provides a good introduction if you're new to the web.</p>
  {%- include "paths/item" with global.library.html-css %}

  <p><strong>Optional:</strong> <em>More HTML &amp; CSS</em> is a collection of topics around HTML and CSS. They are helpful but not necessary to continue with Dart programming below.</p>

  {%- include "paths/item" with global.library.more-html-css %}

  <h4>Getting started with Dart Programming</h4>
  <p>If you're new to programming I recommend you start with the <em>Hello Dart</em> course. If you're already fluent in another programming language you could just skim through.</p>

  {%- include "paths/item" with global.library.hello-dart %}

  <h4>Dart Web App</h4>
  <p>The <em>Dart Kanban</em> tutorial connects the two worlds of HTML/CSS and Dart. It is well suited for learning how to create an interactive Dart web application from scratch.</p>

  {%- include "paths/item" with global.library.dart-kanban %}
    
  </div>
</div>

{%- assign js_dropdown = true -%}
{% endblock %}